.marker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 300px;
  border: 1px solid #D7D7D7;
  background-color: white;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.markerText{
  font-size: 12px;
  font-family:"Euclid Circular B SemiBold";
}
.markerSubText{
  font-size: 10px;
  color:rgb(236, 58, 58);
  font-family:"Euclid Circular B SemiBold";
}