.Rec-Page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Nav-Bar{
    width: 100%;
    height: 10vh;
    min-height: 64px;
    background: linear-gradient(to right, #FFD3DD 0%, #FFCBCD 20%, #FFD8E6 50%, #FFE7FF 75%, #FFF6E9 100%);
    position: relative;
    border-radius: 15px;
    padding-left:25px;
    padding-right:25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom:5vh;
}
.Nav-Logo{
    height: 30%;
}

.Nav-Bar-Search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 60%;
}
.New-Search-Button{
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: #FF756D;
    padding: 18px 5% 18px 5%;
    border-radius: 7px;
    color:white;
}
.Rec-Scroll-Area{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.LocationAndDiagnosis{
    font-family: "Euclid Circular B SemiBold";
    font-size: 1.75vw;
    width: 75%;
}
b {
    color:#FF756D;
}
.Rec-Sub-Text{
    padding-top: 20px;
    font-family: "Euclid Circular B";
    font-size: .8vw;
    padding-bottom: 15px;
}
.Filter-List{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.filter-buttons{
    
    display: flex;
    flex-direction: row;
    border: 1px solid #DFDFDF;
    width: fit-content;
    border-radius: 100px;
    padding: 15px 20px 15px 20px;
    font-size: .8vw;
    color: black;
    margin-right: 20px;
    align-items: center;
    margin-bottom:15px;
}
.Delete-Icon{
    width: .8vw;
    margin-left: 25px;
    cursor: pointer;
}
.Filter-Add{
    font-size: .8vw;
    color: #FF756D;
    align-self: center;
    cursor: pointer;
    margin-bottom:15px;
}

.Filter-Item-List{
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.item-Box{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: fit-content;
    border: 1px solid #DFDFDF;
    padding: 30px;
    margin-bottom: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 15px;
    justify-content: space-between;
}
.item-box-left{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    height: fit-content;
}
.item-Header{
    font-size: 1.2vw;
    font-family: "Euclid Circular B SemiBold";
}
.item-row-1{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom:20px;

}
.item-row-2{
    display: flex;
    flex-direction: row;

}
.item-info-1{
    display: flex;
    align-items: center;
    font-size: .8vw;
    width: 30%;
}
.item-info{
    display: flex;
    align-items: center;
    font-size: .8vw;
}
.item-image{
    margin-right: 15px;
    width: .8vw;
    height: 0.8vw;
}
.item-image-wide{
    margin-right: 15px;
    width: 1vw;
    
}
.item-image-tall{
    margin-right: 15px;
    height: 1vw;
    
}

.item-box-buttons{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

}
.item-box-add{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DFDFDF;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.item-img-button{
    width: 1vw;
    height: 1vw;
}
.item-box-refresh{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DFDFDF;
    padding: 15px;
    border-radius: 10px;
}

.item-website{
    color: #FF756D;
    font-family: "Euclid Circular B SemiBold";
}

.Magic-Search{
    width: 100%;
    padding: 40px;
    background: linear-gradient(to right, #FFD0D9 0%,#FFC8CA 30%,#FFD4E0 50%,#FFE3FA 70%,#FFEAFA 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;;
}
.MagicStars{
    height: 40px;
}
.MagicHeader{
    font-size: 1.2vw;
    font-family: "Euclid Circular B SemiBold";
    padding-top: 25px;
    padding-bottom: 20px;
}
.MagicText{
    font-size:.9vw;
    font-family: "Euclid Circular B";
    padding-bottom: 20px;   
    text-align: center;
}

.MagicButton{
    font-size: .9vw;
    border:1px solid #FFB2C3;
    border-radius: 100px;
    background-color: white;
    color:#FF756D;
    font-family: "Euclid Circular B SemiBold";
    padding: 10px 20px 10px 20px;
}

.popup{
    width: 100vw;
    height: 100vh;;
    display: flex;
    position: fixed;
    background-color: rgba(1,1,1,0.5);
    top: 0;
    left: 0;
    justify-content: center;
    z-index: 1000;
}
.popupContainer{
    width: 60%;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    height: 95vh;
    background-color: white;
    padding: 2.5% 3% 2.5% 3%;
    border-radius: 15px;
    overflow-y: scroll;
}
.BackPopup{
    display: flex;
    cursor: pointer;
    font-size: .8vw;
    border: 1px solid #DFDFDF;
    color:#FF756D;
    border-radius: 7px;
    width: fit-content;
    padding-left: 25px;
    padding-top:15px;
    padding-bottom: 15px;
    font-family: "Euclid Circular B SemiBold";
    padding-right:25px;
}
.popupButtons-Top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}
.fourButtons{
    display: flex;
    flex-direction: row;
}
.popUpClickableButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FF756D;
    border-radius: 10px;
    padding: 15px;
    margin-left: 15px;
    cursor: pointer;;
}
.popUpClickableButtonsActive{
    background-color: #FFF0F0;
}
.categoty-Popups{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5px;
}
.categoty-Popups{
    color: #FF756D;
    font-size: .8vw;
    padding-right: 10px;
    font-family: "Euclid Circular B SemiBold";
    
}
.popUpHeaderText{
    font-size: 2vw;
    font-family: "Euclid Circular B SemiBold";
    padding-bottom:10px;
}
.divider{
    width: 100%;
    border: 1px solid #DFDFDF;
}
.popup-info-1{
    display: flex;
    align-items: center;
    font-size: .8vw;
    width: 20%;
}
.popup-info{
    display: flex;
    align-items: center;
    font-size: .8vw;
}
.popup-Times{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}
.time-slots{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.time-slot{
    font-size: .8vw;
    margin-bottom: 5px;
}
.Search-additional-features{
    width: 100%;
    color:#7E7E7E;
    border: 1px solid #DFDFDF;
    border-radius: 7px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: .8vw;
    padding-left:15px;
    padding-top:15px;
    padding-bottom:15px;
}
.add-details-header{
    font-size: .8vw;
    color:#7E7E7E;
    font-family: "Euclid Circular B SemiBold";
    padding-bottom:8px;
}
.popup-providers{
    font-size: .8vw;
    padding-bottom:15px;
}