.Rec-Page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Nav-Bar {
    width: 100%;
    height: 10vh;
    min-height: 64px;
    background: linear-gradient(to right, #FFD3DD 0%, #FFCBCD 20%, #FFD8E6 50%, #FFE7FF 75%, #FFF6E9 100%);
    position: relative;
    border-radius: 15px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5vh;
}

.Nav-Logo {
    height: 30%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.Logo-img {
    height: 100%;

}

.item-box-click-box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.Nav-Bar-Search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 60%;
}

.New-Search-Button {
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: #FF756D;
    padding: 18px 5% 18px 5%;
    border-radius: 7px;
    color: white;
}

.Rec-Scroll-Area {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.LocationAndDiagnosis {
    font-family: "Euclid Circular B SemiBold";
    font-size: 1.75vw;
    width: 85%;
}

b {
    color: #FF756D;
}

.Rec-Sub-Text {
    padding-top: 20px;
    font-family: "Euclid Circular B";
    font-size: .8vw;
    padding-bottom: 15px;
}

.Filter-List {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.filter-buttons {

    display: flex;
    flex-direction: row;
    border: 1px solid #DFDFDF;
    width: fit-content;
    border-radius: 100px;
    padding: 15px 20px 15px 20px;
    font-size: .8vw;
    color: black;
    margin-right: 20px;
    align-items: center;
    margin-bottom: 15px;
}

.Delete-Icon {
    width: .8vw;
    margin-left: 25px;
    cursor: pointer;
}

.Filter-Add {
    font-size: .8vw;
    color: #FF756D;
    align-self: center;
    cursor: pointer;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.Filter-Item-List {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.item-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    background-color: #FFF1F2;
    border-radius: 15px;
    margin-bottom: 25px;

}

.item-Box {
    align-self: center;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: fit-content;
    border: 1px solid #E8E8E8;
    padding: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 15px;
    justify-content: space-between;
    background-color: white;
    padding-bottom: 35px;
    padding-top: 35px;
}

.item-box-left {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    height: fit-content;
}

.item-Header {
    font-size: 1.2vw;
    font-family: "Euclid Circular B SemiBold";
    display: flex;
    flex-direction: column;

}

.item-badges {
    height: 1.2vw;
    padding-left: 5px;
    cursor: pointer;
    z-index: 10;
}

.item-row-1 {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 25px;

}

.item-row-2 {
    display: flex;
    flex-direction: row;

}

.item-info-1 {
    display: flex;
    align-items: center;
    font-size: .8vw;
    width: 30%;
    color: #7F7F7F;
}

.item-info {
    display: flex;
    align-items: center;
    font-size: .8vw;
    color: #7F7F7F;
}

.item-image {
    margin-right: 15px;
    width: .8vw;
    height: 0.8vw;
}

.item-image-wide {
    margin-right: 15px;
    width: 1vw;

}

.item-image-tall {
    margin-right: 15px;
    height: 1vw;

}

.item-Category {
    font-family: "Euclid Circular B SemiBold";
    font-size: 1.2vw;
    color: black;
}

.item-box-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;

}

.item-img-button {
    width: 1vw;
    height: 1vw;
}

.item-box {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DFDFDF;
    padding: 15px;
    border-radius: 10px;
}

.item-box-active {
    border: 1px solid #FF756D;
    background-color: #FFF0F0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
}

.item-website {
    color: #FF756D;
    font-family: "Euclid Circular B SemiBold";
    z-index: 10;
}

.Magic-Search {
    width: 100%;
    padding: 40px;
    background: linear-gradient(to right, #FFD0D9 0%, #FFC8CA 30%, #FFD4E0 50%, #FFE3FA 70%, #FFEAFA 100%);
    display: flex;
    flex-direction: column;

    border-radius: 15px;
    margin-bottom: 25px;
}

.MagicStars {
    height: 40px;
}

.MagicHeader {
    font-size: 1.2vw;
    font-family: "Euclid Circular B SemiBold";
    padding-bottom: 15px;
}

.MagicText {
    font-size: .9vw;
    font-family: "Euclid Circular B";
    padding-bottom: 25px;
}

.MagicButton {
    font-size: .9vw;
    border: 1px solid #FFB2C3;
    border-radius: 100px;
    background-color: white;
    color: #FF756D;
    font-family: "Euclid Circular B SemiBold";
    padding: 10px 20px 10px 20px;
    align-self: center;
}

.popup {
    width: 100vw;
    height: 100vh;
    ;
    display: flex;
    position: fixed;
    background-color: rgba(1, 1, 1, 0.5);
    top: 0;
    left: 0;
    justify-content: center;
    z-index: 1000;
}

.popupContainer {
    width: 60%;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    height: 95vh;
    background-color: white;
    padding: 2.5% 3% 2.5% 3%;
    border-radius: 15px 5px 5px 15px;
    overflow-y: scroll;
}

.popupContainer::-webkit-scrollbar {
    width: 10px;
    padding-top: 10px;
}

.popupContainer::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: white;
    border: none;
}

.popupContainer::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #FF756D;
}

.popup-filter {
    width: 100vw;
    height: 100vh;
    ;
    display: flex;
    position: fixed;
    background-color: rgba(1, 1, 1, 0.5);
    top: 0;
    left: 0;
    justify-content: center;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.popupContainer-filters {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    height: fit-content;
    background-color: white;
    padding: 2.5% 3% 2.5% 3%;
    border-radius: 15px;
    justify-content: center;

}

.BackPopup {
    display: flex;
    cursor: pointer;
    font-size: .8vw;
    border: 1px solid #DFDFDF;
    color: #FF756D;
    border-radius: 7px;
    width: fit-content;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "Euclid Circular B SemiBold";
    padding-right: 25px;
}

.BackPopup-Filters {
    display: flex;
    cursor: pointer;
    font-size: .8vw;
    border: 1px solid #DFDFDF;
    color: #FF756D;
    border-radius: 7px;
    width: fit-content;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "Euclid Circular B SemiBold";
    padding-right: 25px;
    align-self: center;
    margin-top: 15px;
}

.popupButtons-Top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.fourButtons {
    display: flex;
    flex-direction: row;
}

.popUpClickableButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FF756D;
    border-radius: 10px;
    padding: 15px;
    margin-left: 15px;
    cursor: pointer;
}

.popUpClickableButtonsActive {
    background-color: #FFF0F0;
}

.categoty-Popups {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5px;
}

.categoty-Popups {
    color: #FF756D;
    font-size: .8vw;
    padding-right: 10px;
    font-family: "Euclid Circular B SemiBold";

}

.popUpHeaderText {
    font-size: 2vw;
    font-family: "Euclid Circular B SemiBold";
    padding-bottom: 10px;
}

.divider {
    width: 100%;
    border: 1px solid #DFDFDF;
}

.popup-info-1 {
    display: flex;
    align-items: center;
    font-size: .8vw;
    width: 20%;
}

.popup-info {
    display: flex;
    align-items: center;
    font-size: .8vw;
}

.popup-Times {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}

.time-slots {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.time-slot {
    font-size: .8vw;
    margin-bottom: 5px;
}

.Search-additional-features {
    width: 100%;
    color: #7E7E7E;
    border: 1px solid #DFDFDF;
    border-radius: 7px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: .8vw;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.add-details-header {
    font-size: .8vw;
    color: #7E7E7E;
    font-family: "Euclid Circular B SemiBold";
    padding-bottom: 8px;
}

.popup-providers {
    font-size: .8vw;
    padding-bottom: 15px;
}

.Back-to-og {
    width: fit-content;
    align-self: center;
    color: #FF756D;
    font-size: .9vw;
    padding-bottom: 25px;
    font-family: "Euclid Circular B SemiBold";
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 10vh;
}

.MagicToggleButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFE6FE;
    border-radius: 100px;
    padding: 18px 25px 18px 25px;
    width: fit-content;
    cursor: pointer;
    box-shadow: #ffeffe 0px 5px 8px 0px;
    margin-bottom: 25px;
    margin-top: 25px;
}
.MagicButtonInner {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    padding: 18px 25px 18px 25px;
    width: fit-content;
    cursor: pointer;
    background-color: white;
}
.two-button-magic{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 25px;
}
.MagicButtonText {
    width: fit-content;
    background-image: linear-gradient(to right, #FD618A 0%, #F369A0 25%, #E379C4 50%, #D47ADA 75%, #CD7EE7 100%);
    background-clip: text;
    color: transparent;
    font-family: "Euclid Circular B SemiBold";
    font-size: .9vw;


}

.MagicStarsToggle {
    height: 1.2vw;
    padding-right: 5px;
}

.MuiAutocomplete-popper {
    &>* {
        border:1px solid #dfdfdf !important;
        margin-top: 5px !important;
        border-radius: 15px !important;
    }
}

.item-container-titles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom:20px;
}
.Remove-Item{
    font-size: .9vw;
    color:#FF756D;;
    font-family:"Euclid Circular B SemiBold";
    cursor: pointer;
}
.googleAuto-rec{
    width: 100%;
    height: 57px !important;
    padding: 9px 39px 9px 25px;
    border: 1px solid #c4c4c4;
    border-radius: 100px;
    outline: none;
    font-weight: 400;
    font-size: 1rem;
}
.googleAuto-rec:hover{
    border: 1px solid black;
    outline: none;
}
.googleAuto-rec:focus{
    border: 2px solid #1976D2;
    outline: none;
}
.google-container-rec{
    width: 100%;
    position: relative;
}
.suggestion-container-rec{
    background-color: white;
    position: absolute;
    outline: none;
    border: 2px solid #DFDFDF;
    border-radius: 15px;
    z-index: 100;
    width: 100%;
    margin-top: 5px;
    padding-top:7px;
    padding-bottom:7px;
    
}
.google-container-rec{
    width: 40%;
    position: relative;
}
.poweredbyai{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-left: 5px;
}
.MagicAndSendButton{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.SendButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FF756D;
    border-radius: 100px;
    padding: 18px 25px 18px 25px;
    width: fit-content;
    cursor: pointer;
    box-shadow: #ffeffe 0px 5px 8px 0px;
    margin-bottom: 25px;
    margin-top: 25px;


}
.SendButtonText{
    font-size: .9vw;
    color: white;
    font-family:"Euclid Circular B SemiBold";
}
.sendIcon {
    height: 1.2vw;
    padding-left: 5px;
}
.ModalContainer{
        display: flex;
        flex-direction: column;
        width: 40%;
        margin-top: 2.5vh;
        margin-bottom: 2.5vh;
        background-color: white;
        padding: 2.5% 3% 2.5% 3%;
        border-radius: 15px 15px 15px 15px;
}
#modal-modal-title{
    font-size: 1.6vw;
    font-family:"Euclid Circular B SemiBold";
    padding-bottom: 5px;
}
#modal-modal-description{
    font-size: .9vw;
    font-family:"Euclid Circular B";
}
.copy-text-button{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: .9vw;
    font-family:"Euclid Circular B SemiBold";
    color: #FF756D;
    text-decoration: underline;
    cursor: pointer;
}
.method-boxs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    width: 100%;
}
.alert{
    width: 100%;
    position: absolute;
}
.insuranceInput{
    display: flex;
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 3%;
    background-color: white;
    color: black;
    justify-content: flex-start;
    border: 1px solid #DFDEDE;
    box-shadow: none;
    border-radius: 300px;
    font-family:"Euclid Circular B SemiBold";
    font-weight: bold;
}
.insuranceInput:focus{
    outline: none;
    border: 1px solid #DFDEDE;

}
.insuranceInput::placeholder{
    color: #bdbdbd;
}
.verifiedText{
    font-size: .8vw;
    color:red;
    font-family:"Euclid Circular B SemiBold";
}

.shrinkAnimiation{
    animation: analogue forwards 0.7s linear 1;
}

@keyframes analogue {
    0% {
      clip-path: inset(0% 0% 0% 0%);
    }

    100% {
      clip-path: inset(50% 0% 50% 0%);
    }
  }